.errorContainer {
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin: -10px auto 0px auto;
  width: 100%;
  max-width: 500px;
  opacity: 90;

  & svg {
    margin-right: 10px;
  }
}
